image: "node:18-slim"
definitions:
  steps:
    - step: &test
        name: Test
        caches:
          - node
        script:
          - pipe: atlassian/artifactory-sidekick:v1
          - source .artifactory/activate.sh
          - npm install
          - npm run test
    - step: &build
        name: Build
        caches:
          - node
        script:
          - pipe: atlassian/artifactory-sidekick:v1
          - source .artifactory/activate.sh
          - npm install
          - npm run build

    - step: &release
        name: Tag Release
        caches:
          - node
        deployment: production
        script:
          - pipe: atlassian/artifactory-sidekick:v1
          - source .artifactory/activate.sh
          - apt-get update && apt-get install -y git
          - git remote set-url origin git@bitbucket.org:atlassian/artifact-publish-token.git
          - mv ~/.ssh/config ~/.ssh/config-bak
          - (mkdir -p ~/.ssh ; umask  077 ; echo ${SECART_BOT_SSH_KEY} | base64 --decode > ~/.ssh/id_rsa)
          - npm install
          - export CUR_VERSION=v1.0.1
          - npm run release
          - mv ~/.ssh/config-bak ~/.ssh/config
          - ( git show -s --format=%D HEAD | grep $CUR_VERSION ) && git push -d git@github.com:atlassian-labs/artifact-publish-token.git $CUR_VERSION || echo true
          - git push git@github.com:atlassian-labs/artifact-publish-token.git HEAD:main --follow-tags
pipelines:
  default:
    - parallel:
        - step: *test
        - step: *build
  branches:
    main:
      - parallel:
          - step: *test
          - step: *build
      - step: *release
