# select your preferred strategy for reviewer assignment

# Default: assign the whole team
* @teams/ourteam:all

# Least busy: use this syntax for picking reviewers who are not occupied
# * @teams/ourteam:least_busy(2)

# Random
# * @teams/ourteam:random(2)
